body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #000;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 15px;
  height: 100%;
  overflow: hidden;
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
}

.ui {
  position: absolute;
}

.mapcontainer {
  position: absolute;
  padding: 5px;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
}
.map {
  position: absolute;
  left: 5px;right: 5px;top: 5px; bottom: 40px;

  padding: 5px;
}
.mapsearch {
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 5px;
}

.mapprogress {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px; 
}